# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# Data & artifacts
data/raw/
data/processed/
models/
results/
logs/
experiments/

# Training outputs
*.ckpt
*.pth
*.pt
*.onnx

# W&B
wandb/
